body {
    font-family: Cousine, 'Liberation Mono', monospace;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: solid black 1px;
}
th {
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}